<%- include('layout-header.ejs') %>
<h1>Bienvenido a la Tienda de Autos</h1>
<p>Explora nuestros autos disponibles.</p>
<a href="/products" class="btn btn-primary">Ver Autos</a>
<%- include('layout-footer.ejs') %>
