<%- include('../layout-header.ejs') %>
<h1>Agregar Auto</h1>
<form action="/products" method="POST">
    <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" name="marca" id="marca" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="modelo">Modelo:</label>
        <input type="text" name="modelo" id="modelo" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
</form>
<%- include('../layout-footer.ejs') %>
